.app {
    max-width: 754px;
    margin: 40px auto 50px auto;
    width: 90%;
    @media (max-width: 815px) {
        width: 80%;
    }
    font-family: 'Open Sans' sans-serif;
}
.wrapper {
    display: grid;
    grid-template-columns: 232px 502px;
    grid-column-gap: 20px;
    margin-top: 30px;
    @media (max-width: 815px) {
        display: flex;
        flex-direction: column;
    }
}
.container {
    display: flex;
    flex-direction: column;
}

.logo{
    display: block;
    margin: 0 auto;
}